<div class="section page_footer" id="footer">
  <div class="container">
  <img src="<%= image_path('logos/logo2.svg') %>" class="logo2" alt="<%= locale_cert_type.capitalize %> Portfolio Tracker - Sharesight">
    <p class="footer_intro" role="contentinfo">Simply the best portfolio management tool for DIY investors.</p>

    <div class="footer_container">
      <label for="selector" class="selector redirect locale">
        <select id="region_selector">
          <% data.locales.select{ |locale| locale.id != default_locale_id }.each do |locale| %>
            <option label="Region: <%= locale.name.upcase %>" value="<%= locale.id %>" <% if locale_obj[:id] == locale.id %>selected<% end %>>
              Region: <%=locale.name.upcase%>
            </option>
          <% end %>
          <option value='-' disabled>――――</option>
          <option label="Region: <%= default_locale_obj.name.upcase %>" value="<%= default_locale_obj.id %>" <% if locale_obj[:id] == default_locale_obj.id %>selected<% end %>>
            Region: <%= default_locale_obj.name.upcase %>
          </option>
        </select>
      </label>

      <div class="buttons">
        <a href="<%= config[:login_url] %>" class="button btn">LOGIN</a>
        <a href="<%= config[:signup_url] %>" class="button btn">SIGN UP</a>
      </div>

      <section class="images_app_logos">
        <a href="<%= config[:google_store_url] %>" title="<%= locale_obj[:footer_android_alt] %>">
          <img src="<%= image_path('icons/google-play-badge.svg') %>" alt="<%= locale_obj[:footer_android_alt] %>">
        </a>
        <a href="<%= config[:ios_store_url] %>" title="<%= locale_obj[:footer_ios_alt] %>">
          <img src="<%= image_path('icons/download-on-the-app-store-apple.svg') %>" alt="<%= locale_obj[:footer_ios_alt] %>">
        </a>
      </section>

      <div class="icons">
        <% data.social_media_icons.each do |smi| %>
          <a href="<%= smi.url %>" title="Check us out on <%= smi.name %>">
            <%= image_tag "/img/icons/#{smi.image}", class: "icon" %>
          </a>
        <% end %>
      </div>
    </div>

    <ul class="links" id="main-menu" tabindex="0" role="menubar" aria-label="Full Website Menu">
      <li class="link_item" role="menuitem">
        <a href="<%= localize_url(locale_id: locale_obj[:id], base_url: config[:marketing_url]) %>" class="link" title="Sharesight Home" tabindex="0"  id="sharesight_url">
          www.sharesight.com
        </a>
      </li>

      <li class="link_item" role="menuitem">
        <a href="<%= config[:community_url] %>" class="link" title="Visit our forums">
          Community Forum
        </a>
      </li>

      <li class="link_item" role="menuitem">
        <a href="<%= localize_url('privacy-policy', locale_id: locale_obj[:id], base_url: config[:marketing_url]) %>" class="link" id="privacy_url" title="Privacy Policy – <%= locale_cert_type.capitalize %> Portfolio Tracker">
          Privacy Policy
        </a>
      </li>
    </ul>
  </div>
</div>

<footer class="section_footer">
  <p class="free">
    <a href="mailto:sales@sharesight.com" class="free email">sales@sharesight.com</a>
    <br>
    © <%=Date.today.year%> Sharesight. All rights reserved.
  </p>
</footer>
