<% index_page_title = locale_page(page: 'index', locale_obj: locale_obj)[:page_title] %>

<header class="header_primary">
  <div class="container">
    <span class="site_logo">
      <a href="<%= localize_url(locale_id: locale_obj[:id]) %>" title="<%= index_page_title %>" id="site_logo">
        <img src="<%= image_path('logos/logo2.svg') %>" alt="<%= index_page_title %>" class="logo">
      </a>

      <span class="help">Help</span>
    </span>

    <span class="hamburger" role="menu" id="js-hamburger" tabindex="0"></span>
    <a href="<%= config[:login_url] %>" class="login">Login</a>
    <a href="<%= localize_url(locale_id: locale_obj[:id], base_url: config[:marketing_url]) %>" id="external_url" class="external-link">Go to sharesight.com
      <span class="triangle"></span>
    </a>
  </div>

  <div class="mask" id="menu_mask"></div>
  <nav class="menu" role="navigation" id="js-sliding-menu" data-menu-visibility="0">
    <span class="close" id="js-close" tabindex="0">Close</span>

    <ul>
      <% categories_collection(locale_obj[:lang], with_associations: true).each_slice(3) do |groups| %>
        <% groups.each do |key, category| %>
          <% next if category.nil? || category[:pages].nil? || category[:pages].blank? %>

          <li>
            <a href="<%= category_url(category, locale_id: locale_obj[:id]) %>" title="<%= category[:name] %>">
              <%= category[:name] %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>

    <a href="<%= localize_url(locale_id: locale_obj[:id], base_url: config[:marketing_url]) %>" title="<%= index_page_title %>" id="external_url_mobile" class="button button_inverse">Go to Sharesight.com</a>
  </nav>
</header>
