<%
  page = locals[:page]
%>

<nav class="side-menu">
  <% categories_collection(locale_obj[:lang], with_associations: true).each do |category| %>
    <section>
      <h4 data-toggle="<%= page[:category] && page[:category][:id] == category[:id] ? 1 : 0 %>"><%= category[:name] %></h4>
      <ul>
        <% category[:pages].each do |cat_page| %>
          <% if !cat_page[:parent_page] && cat_page[:content] %>
            <li>
              <a href="<%= page_url(cat_page, locale_id: locale_obj[:id]) %>" <% if cat_page[:id] == page[:id] %>style="color:#000; font-weight:600;"<% end %>>
                <%= cat_page[:title] %>
              </a>

              <% unless cat_page[:child_pages].blank? %>
                <ul>
                  <% cat_page[:child_pages].each do |child|%>
                    <% if child[:content] %>
                      <li>
                        <a href="<%= page_url(child, locale_id: locale_obj[:id]) %>" <% if child[:id] == page[:id] %>style="color:#000; font-weight:600;"<% end %>>
                          <%= child[:title] %>
                        </a>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
</nav>
