---
page_classes: 'category'
include_geo_redirect: true
layout: 'post_layout'
---
<% url = current_page.url.split("/") %>
<% my_locale = url[1] %>
<% category_id ||= nil %>
<% fetch_locale = current_page.url.split('/')%>
<%= partial "partials/header" %>
<%= partial "partials/search" %>

<div class="container reveal">
  <%= partial "partials/left_menu", locals: { category_id: page.last.category&.en&.sys&.id } %>
  <div class="content">

    <ul class="breadcrumbs">
      <li><a href="<%=RegionHelper::locale_from_url(current_page.url)%>/">Help</a></li>
      <% CategoryHelper::navigation_menu_structure(data).each do |cat| %>
        <% category = cat.first.last%>
          <% if cat.first.first == page.last.category&.en&.sys&.id %>
            <li><a href="<% if RegionHelper::locale_from_url(current_page.url)%><%=RegionHelper::locale_from_url(current_page.url)%><%end%>/<%=category[:pages].first[:page_url]%>/"><%=category[:category_name]%></a></li>
          <%end%>
      <%end%>
      <% if page.last[:parent_page]%>
        <li class="breadcrumb-extra">
          <a href="<%=BreadcrumbHelper::parent_slug(data, page, current_page.url)%>">
            <%=BreadcrumbHelper::parent(data, page)%>
          </a>
      </li>
      <%end%>
      <li class="breadcrumb-extra"><%=BreadcrumbHelper::child(page)%></li>
    </ul>

    <label for="selector" class="selector selector_redirect locale">
      <select>
        <% CategoryHelper::navigation_menu_structure(data).each do |cat| %>
          <% category = cat.first.last%>

          <optgroup label="<%=category[:category_name]%>">

            <% category[:pages].each do |page| %>
              <% category_url = "#{my_locale}/#{page[:page_url]}" %>

              <% if url.length == 2 %>
                <% if page[:content][:en] %>
                  <option value="<%=category_url%>/" <% if url.length == 3 %><% if "#{category_url}/" == "/#{url[1]}/#{url.last}/" %>selected<%end%><%end%>><%=page[:page_title]%></option>
                <%end%>
              <% elsif page[:content]['en-AU'] && my_locale == "au"%>
                <option value="<%=category_url%>/" <% if url.length == 3 %><% if "#{category_url}/" == "/#{url[1]}/#{url.last}/" %>selected<%end%><%end%>><%=page[:page_title]%></option>
              <% elsif page[:content]['en-NZ'] && my_locale == "nz"%>
                <option value="<%=category_url%>/" <% if url.length == 3 %><% if "#{category_url}/" == "/#{url[1]}/#{url.last}/" %>selected<%end%><%end%>><%=page[:page_title]%></option>
                <% else %>
                <option value="<%=category_url%>/" <% if url.length == 3 %><% if "#{category_url}/" == "/#{url[1]}/#{url.last}/" %>selected<%end%><%end%>><%=page[:page_title]%></option>
              <%end%>
            <%end%>
          </optgroup>
        <%end%>
      </select>
    </label>

    <article class="article">
      <h1><%=page.last.title&.en&.to_s%></h1>
      <% if locale_content(page) %>
        <%= Kramdown::Document.new(locale_content(page).gsub('.png)', '.png?w=917)').gsub('.jpg)', '.jpg?w=917)')).to_html.html_safe %>
      <%end%>

      <p class="date_modified">Last modified on <%= page.last_updated_at %> UTC</p>
      <script>
        var get_headings = document.getElementsByTagName('table');
      </script>
    </article>
  </div>

</div>

<%= partial "partials/footer" %>
